<div class="color">
<div class="addAlb">
<h1>Добавить альбом</h1>
</div>
<form action="/albums/addalbum" method="post">

<div>
<label>
<p>Название альбома</p> 
<input name="title" type="text">
</label>
</div>

<div>
<label>
<p>Альбом доступен всем</p>
    <input type="radio" name="status" value="true">
  </label>
  </div>


<div>
  <label>
      <p>Альбом могу просматривать только я</p>
    <input type="radio" name="status" value="false">
  </label>
  </div>

  <button type='submit'>Создать альбом</button>
  <img src="public/1636588428_1-papik-pro-p-koshka-risunok-bez-fona-1.png" alt="">
</form>
</div>
