<center>
    <br>
    <form name="addPhoto" action="/photos/" method="post">
        <div class="d-flex w-50">
            <div class="w-50">
                <form enctype="milpipart/form-data" method="post">
                <input type="file" name="title">
                </form>
            </div>
            <div>
                <p>Please select your photoalbum:</p>
       <div class="dropdown">
    <select name="albumName" class="dropdown-select">
        {{#each allAlbum}}
        <option>{{this.title}}</option>
      {{/each}}
    </select>
  </div>
                <button type="submit" class="btn btn-outline-success">добавить</button>
            </div>
        </div>
    </form>
</center>

