<center>
    <br>
    <form name="addPhoto" action="/photos/" method="post">
        <div class="d-flex w-50">
            <div class="w-50">
                <input type="text" name="title" class="form-control" placeholder="title">
                <input type="text" name="src" class="form-control" placeholder="photo">
            </div>
            <div>
                <p>Please select your photoalbum:</p>
       <div class="dropdown">
    <select name="album_id" class="dropdown-select">
        {{#each allAlbum}}
        <option>{{this.id}}  {{this.title}}</option>
      {{/each}}
    </select>
  </div>
                <button type="submit" class="btn btn-outline-success">добавить</button>
            </div>
        </div>
    </form>
</center>

