
<div class="albumStr">
<div class="albumMy">
  <div class="text1">
<h1>Мои альбомы</h1>
</div>
<ul>
{{#each userAlbums}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5><a href="/albums/{{this.id}}">{{this.title}}</a></h5>
<div class="delete">
<button id="deletealbum">Удалить альбом</button>
</div>
</div>
</div>
{{/each}}
</ul>
</div>

<div class="albumStr">
<div class="albumMy">
  <div class="text1">
<h1>Альбомы других пользователей</h1>
</div>
<ul>
{{#each userAlbums}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5><a href="/albums/{{this.id}}">{{this.title}}</a></h5>
<div class="delete">
<button id="deletealbum">Удалить альбом</button>
</div>
</div>
</div>
{{/each}}
</ul>
</div>


