<a href="/albums/addalbum">Добавить альбом</a>

<h1>Мои альбомы</h1>
<ul>
{{#each userAlbums}}
<li><a href="/albums/{{this.id}}">{{this.title}}</a><button id="deletealbum">Удалить альбом</button></li>
{{/each}}
</ul>

<h1>Альбомы других пользователей</h1>
<ul>
{{#each allAlbums}}
<li><a href="/albums/{{this.id}}">{{this.title}}</a></li>
{{/each}}
</ul>
