<div class="second">
{{> navBar}}
<section id="home" class="parallax-section">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-5 col-md-7 col-sm-12">
                    <div class="home-thumb">
                         <h1 class="wow_fadeInUp" data-wow-delay="0.4s">Привет!</h1>
                         <p class="wow_fadeInUp_white-color" data-wow-delay="0.6s">Данный сайт предназначен для хранения твоих фотографий.<br>Надеемся тебе понравится наш функционал!<br></p>
                    </div>
               </div>

          </div>
     </div>
</section>
</div>
